body {
    background-color: #f0f8ff; /* Голубой фон страницы */
    margin: 0; /* Убираем внешние отступы у body */
    font-family: Arial, sans-serif; /* Устанавливаем шрифт */
  }
  
  .container {
    width: 100%;  
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    position: relative;
    /* background-color: #fff; */
      
  }
  
  .form {
    width: 100%;
    position: relative;
    padding-left: 55px;
    padding-right: 55px;
    padding-top: 178px;
    padding-bottom: 15px;
    box-sizing: border-box;
    margin: 0;
  }
  
  .label {
    margin-bottom: 13px;
      
}
.inputBlock{
    padding-top: 20px;  
    padding-bottom: 20px;   
}
  
  .input {
    font-family: Ubuntu-Bold;
    font-size: 15px;
    color: #1b3815;
    line-height: 1.2;
  
    position: relative;
    display: block;
    width: 100%;
    height: 55px;
    background: #ebebeb;
    border-radius: 27px;
    padding: 0 35px 0 35px;    
    border: none;
  }

  .wrapLogin {
    width: 500px;
    background: #fff;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
  }
  .button {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    width: 100%;
    height: 50px;
    background-color: #57b846;
    border-radius: 25px;
  
    font-family: Ubuntu-Bold;
    font-size: 15px;
    color: #fff;
    line-height: 1.2;
    text-transform: uppercase;
  
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
  }
  
  .button:hover {
    background-color: #45a049;
  }
  
  .title {
    font-family: JosefinSans-Bold;
    font-size: 30px;
    color: #fff;
    line-height: 1.2;
    text-align: center;  
    display: block;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #57b846;
    padding-top: 50px;
    padding-bottom: 39px;
  }
  .forgotBlock{
    text-align: right;
    padding-bottom:23px;
    padding-top:13px;
  }
  .forgot {
    font-family: Ubuntu-Regular;
    font-size: 15px;
    color: #999999;
    line-height: 1.4;
    text-align: right;
 
  }
  .hyperlink {
    font-family: Ubuntu-Regular;
    font-size: 15px;
    color: #57b846;
    line-height: 1.4;
  }
  *
  {
	margin: 0px;
	/* padding: 0px; */
	box-sizing: border-box;
}